.modal .modal-body .ltool-information-course-info .image-block {
	max-width: 150px;
	width: 100%;
	height: 100px;
	float: left;
    vertical-align: top;
}
.modal .modal-body .ltool-information-course-info .image-block {
	height: 100%;
}
.modal .modal-body .ltool-information-course-info .image-block img {
	width: 100%;
}
.modal .modal-body .ltool-information-course-info .summary-block {
	width: 65%;
    margin-left: 30px;
    display: inline-block;
    vertical-align: top;
}
.modal .modal-body .ltool-information-course-info .summary-block p:empty {
	display: none;
}


.modal .modal-body .ltool-information-course-info .image-block .carousel-indicators li {
	width: 10px;
	height: 10px;
	border-radius: 50%;
}
.modal .modal-body .ltool-information-course-info .image-block .carousel-indicators {
	margin-bottom: 0;
}