{{#ltbookmark}}
<div class="ltbookmarksinfo" id="ltbookmarkinfo">
    <button type="submit" id="ltbookmarks-action">
        <i class="{{icon}}" id="bookmarks-marked"></i>
         <span class="fa fa-check"></span>
        <p> {{bookmarkhovername}} </p>
    </button>
</div>
{{/ltbookmark}}