{{#ltnote}} 
    <div class="ltnoteinfo" id="ltnoteinfo">
        <button type="submit" id="ltnote-action">
             <i class="{{icon}}"></i>
                <span  class="{{#pagenotes}}ticked{{/pagenotes}}"> {{pagenotes}} </span>
            <p> {{notehovername}} </p>
        </button>
    </div>
{{/ltnote}}